<div class="container">
    <div class="jumbotron">
      <h1>Cali Come Mejor</h1>
      <p>Statistic's website
      </p>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <p>This website contains statistical information for the project Cali Come Mejor.</p>

        </div>
        
    </div>
    
    <div class="row row-content">
        <div class="col-xs-12">
            <h1>Information about houses in Cali</h1>
            <iframe src="https://awesome-table.com/-KJscJlmTliEVB9_Xe4Y/view"></iframe>
            <!-- Place this tag where you want the Awesome Table Widget to render -->
            <div data-type="AwesomeTableView" data-viewID="-KJscJlmTliEVB9_Xe4Y"></div>
            <script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
            <p><small>Source: ENIG 2006 - 2007</small></p>

        </div>
        
    </div>
</div>



