<div class="container">

    
    <div class="jumbotron">
      <h1>Cali Come Mejor</h1>
      <p>Statistic's website
      </p>
    </div>
    <div class="row row-content">
        <div class="col-xs-3 col-sm-offset-1">
            <h2>What would you find here?</h2>
        </div>
        <div class="col-xs-8">
            <p>This website contains statistical information for the project Cali Come Mejor. The results presented here were estimated by using the "2006 -2007 National Survey of Income and Expenses" (Encuesta Nacional de Ingresos y Gastos - ENIG).
            </p>
        </div>   
    </div>
    
    <div class="row row-content">

        <div class="col-xs-8">
            <p>For consulting the main results you can move to the <a ui-sref="app.views">Views' Section</a>.There you can have access to tables, graphs and even to an interactive platform in which you can make your own queries to the used databases. 
            </p>
        </div>
        <div class="col-xs-3 col-sm-offset-1">
            <h2>How can you access to the information?</h2>
        </div>
    </div>

</div>





