<div class="container">

    <div class="row row-content">
        <div class="col-xs-12">
            <h1>Views of the main results</h1>
            <p>In this section, you can access to the main statical results of the project. Here you will find a set of tables, graphs and interactive panelss. </p>
            <h2>List of views</h2>
            <ol>
                <li><a ui-sref="app.views.houseandclass">Household information and food classes</a></li>
                <li><a ui-sref="app.views.consumptionbyclass">Food consumption by class</a></li>
                
            </ol>
        </div>
    </div>    
</div>